* {
    box-sizing: border-box;
  }
  
  .Zoom_Hover {
    transition: transform .2s;
  }
   
  .Zoom_Hover:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }